.header {
    position: sticky;
    top: 0;
    background-color: rgb(255, 253, 238);
    z-index: 100;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    color: #370b63;
}

.nav {
    display: flex;
    gap: 40px;
}

.link {
    text-decoration: none;
    color: #370b63;
    font-size: 1.2em;
    font-weight:600;
    letter-spacing: 1px;
    transition: opacity 0.3s ease;
}

.link:hover {
    opacity: 0.6;
}

@media (max-width: 768px) {
    .container {
        padding: 16px 20px;
    }

    .logo {
        font-size: 16px;
    }

    .nav {
        gap: 20px;
    }

    .link {
        font-size: 12px;
    }
}
